In [2]:
import pandas as pd

In [3]:
df=pd.read_excel('bb_report.xlsx',sheet_name='ranking')

In [4]:
######     Ranking summary        ######  
df1=df
ranking_summary = df1.groupby(['assigned_month', 'assigned_week'])["total_shipments", "rank_1","rank_2","rank_3"].apply(lambda x : x.astype(int).sum())
ranking_summary['Ranking percentage']= round((ranking_summary['rank_1']+ranking_summary['rank_2']+ranking_summary['rank_3'])*100/ranking_summary['total_shipments'])
# for i in ranking_summary.index:
#     ranking_summary.at[i,'Ranking percentage'] = round((ranking_summary.at[i,'rank_1']+ranking_summary.at[i,'rank_2']+ranking_summary.at[i,'rank_3'])*100/ranking_summary.at[i,'total_shipments'])
ranking_summary = ranking_summary.reset_index()
ranking_summary = ranking_summary[ranking_summary.assigned_week != "Total"]
ranking_summary.drop(['total_shipments', 'rank_1','rank_2','rank_3'], axis='columns', inplace=True)
ranking_summary = ranking_summary.rename(columns={"assigned_month": "Month", "assigned_week": "Week"})
ranking_summary["Month"].replace({202009: "September", 202010: "October", 202011: "November", 202012: "December"}, inplace=True)
ranking_summary=ranking_summary.sort_values(by='Month', ascending=False)

<ipython-input-4-621dedd9c44a>:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  ranking_summary = df1.groupby(['assigned_month', 'assigned_week'])["total_shipments", "rank_1","rank_2","rank_3"].apply(lambda x : x.astype(int).sum())

In [5]:
ranking_summary=ranking_summary[(ranking_summary['Month']=='December') | (ranking_summary['Month']=='November')]
ranking_summary.set_index('Month',inplace=True)
ranking_summary=ranking_summary.T
ranking_summary

Month              November November November November December December
Week                  week1    week2    week3    week4    week1    week2
Ranking percentage       80       85       90       89       86       80

In [6]:
df_pickup= pd.read_excel('bb_report.xlsx',sheet_name='pickup')
df1_pickup=df_pickup
pickup_summary = df1_pickup.groupby(['assigned_month', 'assigned_week'])["total_shipments", "pickup_not_generated","not_picked","gt_2_day",'0_day', '1_day', '2_day'].apply(lambda x : x.astype(int).sum())
pickup_summary = pickup_summary.reset_index()
pickup_summary = pickup_summary[pickup_summary.assigned_week != "Total"]
pickup_summary['Pickup Generated'] = pickup_summary['total_shipments'] - pickup_summary['pickup_not_generated']
pickup_summary['Pick < 2 days'] = pickup_summary['0_day']+pickup_summary['1_day']+pickup_summary['2_day']
pickup_summary['Not Picked (Percentage)'] = round(pickup_summary['not_picked']*100/pickup_summary['Pickup Generated'])
pickup_summary['Picked in < 2 days (Percentage)'] = round(pickup_summary['Pick < 2 days']*100/pickup_summary['Pickup Generated'])
pickup_summary.drop(['1_day', '0_day','2_day','Pick < 2 days'], axis='columns', inplace=True)
pickup_summary = pickup_summary.rename(columns={"assigned_month": "Month", "assigned_week": "Week","gt_2_day":"Picked in > 2 days"})
pickup_summary["Month"].replace({202009: "September", 202010: "October", 202011: "November", 202012: "December"}, inplace=True)
cols = pickup_summary.columns.tolist()
cols_final = ['Month',
 'Week',
 'total_shipments',
 'pickup_not_generated',
 'Pickup Generated',
 'not_picked', 
 'Not Picked (Percentage)',
 'Picked in > 2 days',
 'Picked in < 2 days (Percentage)']
pickup_summary=pickup_summary[cols_final]
pickup_summary

<ipython-input-6-26fa9a18b527>:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  pickup_summary = df1_pickup.groupby(['assigned_month', 'assigned_week'])["total_shipments", "pickup_not_generated","not_picked","gt_2_day",'0_day', '1_day', '2_day'].apply(lambda x : x.astype(int).sum())

,Month,Week,total_shipments,pickup_not_generated,Pickup Generated,not_picked,Not Picked (Percentage),Picked in > 2 days,Picked in < 2 days (Percentage)
1,September,week4,6253,0,6253,0,0.0,138,98.0
3,October,week1,5388,0,5388,0,0.0,255,95.0
4,October,week2,4694,0,4694,0,0.0,125,97.0
5,October,week3,4798,0,4798,0,0.0,504,89.0
6,October,week4,6105,1,6104,0,0.0,514,92.0
8,November,week1,4555,0,4555,0,0.0,166,96.0
9,November,week2,3935,0,3935,0,0.0,222,94.0
10,November,week3,2734,0,2734,0,0.0,107,96.0
11,November,week4,2745,0,2745,4,0.0,87,97.0
13,December,week1,1856,0,1856,28,2.0,96,93.0
14,December,week2,584,1,583,142,24.0,0,76.0

In [7]:
pickup_summary=pickup_summary[['Month','Week','Not Picked (Percentage)','Picked in < 2 days (Percentage)']]
pickup_summary=pickup_summary[(pickup_summary['Month']=='December') | (pickup_summary['Month']=='November')]
pickup_summary.set_index('Month',inplace=True)
pickup_summary=pickup_summary.T
pickup_summary

Month,November,November,November,November,December,December
Week,week1,week2,week3,week4,week1,week2
Not Picked (Percentage),0,0,0,0,2,24
Picked in < 2 days (Percentage),96,94,96,97,93,76

In [8]:
df_rto= pd.read_excel('bb_report.xlsx',sheet_name='rto')
df1_rto=df_rto
rto_summary = df1_rto.groupby(['assigned_month', 'assigned_week'])["total_shipments", "rto_shipments"].apply(lambda x : x.astype(int).sum())
rto_summary['RTO percentage'] = round(rto_summary['rto_shipments']*100/rto_summary['total_shipments'])
rto_summary = rto_summary.reset_index()
rto_summary = rto_summary[rto_summary.assigned_week != "Total"]
rto_summary = rto_summary.rename(columns={"assigned_month": "Month", "assigned_week": "Week"})
rto_summary["Month"].replace({202009: "September", 202010: "October", 202011: "November", 202012: "December"}, inplace=True)
rto_summary=rto_summary.sort_values(by='Month', ascending=False)
rto_summary

<ipython-input-8-fc829cc8549c>:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  rto_summary = df1_rto.groupby(['assigned_month', 'assigned_week'])["total_shipments", "rto_shipments"].apply(lambda x : x.astype(int).sum())

        Month   Week  total_shipments  rto_shipments  RTO percentage
1   September  week4             6253           1834            29.0
3     October  week1             5388           1396            26.0
4     October  week2             4694           1746            37.0
5     October  week3             4798           2041            43.0
6     October  week4             6105           3073            50.0
8    November  week1             4555           2142            47.0
9    November  week2             3935           1682            43.0
10   November  week3             2734           1056            39.0
11   November  week4             2745            683            25.0
13   December  week1             1856            127             7.0
14   December  week2              584              0             0.0

In [9]:
rto_summary=rto_summary[['Month','Week','RTO percentage']]
rto_summary=rto_summary[(rto_summary['Month']=='December') | (rto_summary['Month']=='November')]
rto_summary.set_index('Month',inplace=True)
rto_summary=rto_summary.T
rto_summary

Month          November November November November December December
Week              week1    week2    week3    week4    week1    week2
RTO percentage       47       43       39       25        7        0

In [10]:
df_delivery= pd.read_excel('bb_report.xlsx',sheet_name='delivery')
df1_delivery=df_delivery
delivery_summary = df1_delivery.groupby(['assigned_month','assigned_week']).agg({'total_attempted_shipments':'sum', 
                                                                                     'first_attempt_deliver':'sum',
                                                                                     'no_of_shipments_within_edd':'sum',
                                                                                     'avg_first_attempt_time':'mean',
                                                                                     'avg_delivered_time':'mean'})
delivery_summary=delivery_summary.reset_index()
delivery_summary = delivery_summary[delivery_summary.assigned_week != "Total"]
delivery_summary[['avg_first_attempt_time','avg_delivered_time']]=round(delivery_summary[['avg_first_attempt_time','avg_delivered_time']])
delivery_summary['First_attempt_delivery (Percentage)'] = round(delivery_summary['first_attempt_deliver']*100/delivery_summary['total_attempted_shipments'])
delivery_summary['Percentage within EDD'] = round(delivery_summary['no_of_shipments_within_edd']*100/delivery_summary['total_attempted_shipments'])
delivery_summary = delivery_summary.reset_index()
delivery_summary = delivery_summary[delivery_summary.assigned_week != "Total"]
delivery_summary = delivery_summary.rename(columns={"assigned_month": "Month", "assigned_week": "Week"})
delivery_summary["Month"].replace({202009: "September", 202010: "October", 202011: "November", 202012: "December"}, inplace=True)
delivery_summary=delivery_summary.sort_values(by='Month', ascending=False)
cols_final=[ 'Month',
 'Week',
 'total_attempted_shipments',
 'first_attempt_deliver',
 'First_attempt_delivery (Percentage)',
 'no_of_shipments_within_edd',
 'Percentage within EDD',
 'avg_first_attempt_time',
 'avg_delivered_time']
delivery_summary=delivery_summary[cols_final]
delivery_summary

,Month,Week,total_attempted_shipments,first_attempt_deliver,First_attempt_delivery (Percentage),no_of_shipments_within_edd,Percentage within EDD,avg_first_attempt_time,avg_delivered_time
0,September,week4,6220,3826,62.0,4933,79.0,90.0,95.0
1,October,week1,5356,3498,65.0,4786,89.0,91.0,98.0
2,October,week2,4664,2477,53.0,3865,83.0,97.0,108.0
3,October,week3,4778,2333,49.0,2178,46.0,91.0,101.0
4,October,week4,6075,2558,42.0,4626,76.0,94.0,102.0
5,November,week1,4531,2092,46.0,3413,75.0,88.0,96.0
6,November,week2,3906,1841,47.0,2256,58.0,107.0,114.0
7,November,week3,2721,1382,51.0,2066,76.0,86.0,90.0
8,November,week4,2657,1452,55.0,1905,72.0,85.0,90.0
9,December,week1,1077,538,50.0,798,74.0,69.0,75.0
10,December,week2,4,1,25.0,4,100.0,19.0,27.0

In [11]:
delivery_summary=delivery_summary[['Month','Week','First_attempt_delivery (Percentage)','Percentage within EDD','avg_first_attempt_time','avg_delivered_time']]
delivery_summary=delivery_summary[(delivery_summary['Month']=='December') | (delivery_summary['Month']=='November')]
delivery_summary.set_index('Month',inplace=True)
delivery_summary=delivery_summary.T
delivery_summary

Month,November,November,November,November,December,December
Week,week1,week2,week3,week4,week1,week2
First_attempt_delivery (Percentage),46,47,51,55,50,25
Percentage within EDD,75,58,76,72,74,100
avg_first_attempt_time,88,107,86,85,69,19
avg_delivered_time,96,114,90,90,75,27

In [12]:
df_ndr= pd.read_excel('bb_report.xlsx',sheet_name='ndr')
df1_ndr=df_ndr
ndr_summary = df1_ndr.groupby(['assigned_month','assigned_week']).agg({'total_shipments':'sum',
                                                                       'total_attempted_shipments':'sum',
                                                                       'delivered_shipment':'sum',
                                                                       'first_attempt_deliver':'sum',
                                                                       'ndr_raised':'sum', 
                                                                        'first_ndr_to_reattempt':'sum',
                                                                        'ndr_raised_delivered':'sum',
                                                                        'ndr_raised_rto':'sum'})
ndr_summary=ndr_summary.reset_index()
ndr_summary = ndr_summary[ndr_summary.assigned_week != "Total"]

ndr_summary['delivered_shipment percent'] = round(ndr_summary['delivered_shipment']*100/ndr_summary['total_attempted_shipments'])
ndr_summary['first_attempt_deliver percent'] = round(ndr_summary['first_attempt_deliver']*100/ndr_summary['total_attempted_shipments'])
ndr_summary['ndr_raised percent'] = round(ndr_summary['ndr_raised']*100/ndr_summary['total_attempted_shipments'])
ndr_summary['first_ndr_to_reattempt percent'] = round(ndr_summary['first_ndr_to_reattempt']*100/ndr_summary['ndr_raised'])
ndr_summary['ndr_raised_delivered percent'] = round(ndr_summary['ndr_raised_delivered']*100/ndr_summary['ndr_raised'])
ndr_summary['ndr_raised_rto percent'] = round(ndr_summary['ndr_raised_rto']*100/ndr_summary['ndr_raised'])

ndr_summary = ndr_summary.reset_index()
ndr_summary = ndr_summary[ndr_summary.assigned_week != "Total"]
ndr_summary = ndr_summary.rename(columns={"assigned_month": "Month", "assigned_week": "Week"})
ndr_summary["Month"].replace({202009: "September", 202010: "October", 202011: "November",202012: "December"}, inplace=True)
ndr_summary=ndr_summary.sort_values(by='Month', ascending=False)
cols_final=['Month',
 'Week',
 'total_shipments',
 'total_attempted_shipments',
 'delivered_shipment',
 'delivered_shipment percent',
 'first_attempt_deliver',
 'first_attempt_deliver percent',
 'ndr_raised',
  'ndr_raised percent',
 'first_ndr_to_reattempt',
  'first_ndr_to_reattempt percent',
 'ndr_raised_delivered',
  'ndr_raised_delivered percent',
 'ndr_raised_rto',
  'ndr_raised_rto percent']
ndr_summary=ndr_summary[cols_final]
ndr_summary

,Month,Week,total_shipments,total_attempted_shipments,delivered_shipment,delivered_shipment percent,first_attempt_deliver,first_attempt_deliver percent,ndr_raised,ndr_raised percent,first_ndr_to_reattempt,first_ndr_to_reattempt percent,ndr_raised_delivered,ndr_raised_delivered percent,ndr_raised_rto,ndr_raised_rto percent
0,September,week4,6253,6220,4404,71.0,3826,62.0,2171.0,35.0,1538,71.0,578,27.0,1583,73.0
1,October,week1,5388,5356,3946,74.0,3498,65.0,1857.0,35.0,1332,72.0,448,24.0,1381,74.0
2,October,week2,4694,4664,2932,63.0,2477,53.0,2184.0,47.0,1646,75.0,455,21.0,1722,79.0
3,October,week3,4798,4778,2746,57.0,2333,49.0,2442.0,51.0,1727,71.0,413,17.0,2020,83.0
4,October,week4,6105,6075,3017,50.0,2558,42.0,3511.0,58.0,2451,70.0,459,13.0,3044,87.0
5,November,week1,4555,4531,2407,53.0,2092,46.0,2430.0,54.0,1791,74.0,315,13.0,2110,87.0
6,November,week2,3935,3906,2232,57.0,1841,47.0,2063.0,53.0,1544,75.0,391,19.0,1659,80.0
7,November,week3,2734,2721,1650,61.0,1382,51.0,1338.0,49.0,924,69.0,268,20.0,1049,78.0
8,November,week4,2745,2657,1729,65.0,1452,55.0,1198.0,45.0,818,68.0,277,23.0,674,56.0
9,December,week1,1856,1077,626,58.0,538,50.0,535.0,50.0,297,56.0,88,16.0,123,23.0
10,December,week2,584,4,1,25.0,1,25.0,3.0,75.0,0,0.0,0,0.0,0,0.0

In [13]:
ndr_summary=ndr_summary[['Month','Week','delivered_shipment percent','first_ndr_to_reattempt percent','ndr_raised percent','ndr_raised_delivered percent','ndr_raised_rto percent']]
ndr_summary=ndr_summary[(ndr_summary['Month']=='December') | (ndr_summary['Month']=='November')]
ndr_summary.set_index('Month',inplace=True)
ndr_summary=ndr_summary.T
ndr_summary

Month,November,November,November,November,December,December
Week,week1,week2,week3,week4,week1,week2
delivered_shipment percent,53,57,61,65,58,25
first_ndr_to_reattempt percent,74,75,69,68,56,0
ndr_raised percent,54,53,49,45,50,75
ndr_raised_delivered percent,13,19,20,23,16,0
ndr_raised_rto percent,87,80,78,56,23,0

In [14]:
delivery_summary=delivery_summary[delivery_summary.index!='Week']
ndr_summary=ndr_summary[ndr_summary.index!='Week']
rto_summary=rto_summary[rto_summary.index!='Week']
ranking_summary=ranking_summary[ranking_summary.index!='Week']
df_all = pd.concat([pickup_summary,delivery_summary,ndr_summary,rto_summary,ranking_summary])
df_all

Month,November,November,November,November,December,December
Week,week1,week2,week3,week4,week1,week2
Not Picked (Percentage),0,0,0,0,2,24
Picked in < 2 days (Percentage),96,94,96,97,93,76
First_attempt_delivery (Percentage),46,47,51,55,50,25
Percentage within EDD,75,58,76,72,74,100
avg_first_attempt_time,88,107,86,85,69,19
avg_delivered_time,96,114,90,90,75,27
delivered_shipment percent,53,57,61,65,58,25
first_ndr_to_reattempt percent,74,75,69,68,56,0
ndr_raised percent,54,53,49,45,50,75
ndr_raised_delivered percent,13,19,20,23,16,0
ndr_raised_rto percent,87,80,78,56,23,0
RTO percentage,47,43,39,25,7,0
Ranking percentage,80,85,90,89,86,80

In [15]:
df_all_final = df_all.rename(index={
'First_attempt_delivery (Percentage)':'First Attempt Delivered Percentage',
'Percentage within EDD':'Percentage Within EDD',
 'avg_first_attempt_time':'Average First Attempt Time(In hours)',
'avg_delivered_time':'Average Delivered Time(In hours)',
'delivered_shipment percent':'Percentage of delivered_shipment',
'first_ndr_to_reattempt percent':'Percentage of first_ndr_to_reattempt',
'ndr_raised percent':'Percentage of ndr_raised',
'ndr_raised_delivered percent':'Percentage of ndr_raised_delivered',
'ndr_raised_rto percent':'Percentage of ndr_raised_rto',
'RTO percentage':'RTO Percentage',
'Ranking percentage':'Percentage of Shipments assigned to the first 3 ranks'})
df_all_final

Month,November,November,November,November,December,December
Week,week1,week2,week3,week4,week1,week2
Not Picked (Percentage),0,0,0,0,2,24
Picked in < 2 days (Percentage),96,94,96,97,93,76
First Attempt Delivered Percentage,46,47,51,55,50,25
Percentage Within EDD,75,58,76,72,74,100
Average First Attempt Time(In hours),88,107,86,85,69,19
Average Delivered Time(In hours),96,114,90,90,75,27
Percentage of delivered_shipment,53,57,61,65,58,25
Percentage of first_ndr_to_reattempt,74,75,69,68,56,0
Percentage of ndr_raised,54,53,49,45,50,75
Percentage of ndr_raised_delivered,13,19,20,23,16,0
Percentage of ndr_raised_rto,87,80,78,56,23,0
RTO Percentage,47,43,39,25,7,0
Percentage of Shipments assigned to the first 3 ranks,80,85,90,89,86,80

In [ ]:
df_all_final

In [16]:
with pd.ExcelWriter('Smart_MailSummary_latest.xlsx') as writer:
    df_all_final.to_excel(writer, sheet_name='Summary')